@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Game_Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <header id="Nav-header">
        <nav class="Nav-bar">
            <div class="Nav-left">
                <a class="Nav-brand" asp-page="/Index">
                    <img src="~/uploads/Pictures/Controller.png" class="Nav-logo" />
                    <span class="Nav-title">GameIMDB</span>
                </a>
            </div>

            <div class="Nav-center">
                <a class="Nav-link @IsActive("/Add")" asp-page="/Add">Add Game</a>
                <a class="Nav-link @IsActive("/Ranking")" asp-page="/Ranking">Ranking</a>
                <a class="Nav-link @IsActive("/YourGames")" asp-page="/YourGames">Your Games</a>
            </div>

            <div class="Nav-right">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <a class="Nav-account" asp-page="/Account/ProfilePage">
                        <img src="@Url.Page("/Account/ProfileImage")" class="Nav-accountIcon" />
                        <span class="Nav-accountName">@User.Identity!.Name</span>
                    </a>
                }
                else
                {
                    <a class="Nav-account @IsActive("/Login")" asp-page="/Account/Login">
                        <img src="~/uploads/Pictures/Profile.png" class="Nav-accountIcon" />
                    </a>
                }
            </div>

        </nav>
    </header>

    <div class="Layout-background">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @functions {
        string IsActive(string page)
        {
            var current = Context.Request.Path.Value;
            return current.Contains(page, StringComparison.OrdinalIgnoreCase) ? "active" : "";
        }
    }
</body>
</html>